<div class="navbar navbar-expand-ld navbar-dark bg-dark">
  <div class="container">
    <a href="" class="navbar-brand">Admin Header</a>
    <ul class="navbar-nav ml-auto text-white d-flex flex-row">
      <li class="nav-item px-2">
        <a class="nav-link" routerLink="./home" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" routerLink="./contact-us" routerLinkActive="active"
          >Contact Us</a
        >
      </li>
      <li class="nav-item px-2">
        <a class="btn btn-primary" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
